@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

body {
  background: #000000;
  color: #ffffff;
  background-image: 
    radial-gradient(circle at 15% 50%, rgba(0, 150, 255, 0.05), transparent 30%),
    radial-gradient(circle at 85% 30%, rgba(150, 0, 255, 0.05), transparent 30%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

input, select, textarea {
  background-color: rgba(255, 255, 255, 0.03) !important;
  color: white !important;
}

input:focus, select:focus, textarea:focus {
  border-color: rgba(255, 255, 255, 0.3) !important;
  ring: rgba(255, 255, 255, 0.3) !important;
}
